body.inicio header {
  height: 25vh;
  background-color: #22319f;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}
body.inicio header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 6vw;
}
body.inicio header div h1 {
  font-size: 40px;
  font-weight: 700;
}
body.inicio header div h2 {
  font-size: 20px;
  font-weight: 400;
}
body.inicio header nav {
  background-color: #22319f;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
body.inicio header nav ul {
  display: flex;
  flex-direction: row;
  margin-right: 10vh;
  align-items: flex-end;
}
body.inicio header nav ul li {
  list-style: none;
  margin: 0px 12px;
  font-size: 18px;
  font-weight: 300;
  height: 18px;
  transition: all 0.5s;
}
body.inicio header nav ul li:hover {
  transform: translateY(-3px);
  transition: all 0.5s;
  cursor: pointer;
}
body.inicio header nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
}
body.inicio header nav ul li a:visited {
  text-decoration: none;
  color: #FFFFFF;
}
body.inicio main section {
  margin: 14vh 6vw;
}
body.inicio main section h3 {
  color: #22319f;
  font-weight: 800;
  font-size: 24px;
  margin: 0vh 0vw 6vw 0vw;
}
body.inicio main section div {
  display: flex;
  font-weight: 300;
  font-size: 16px;
}
body.inicio main section div p {
  text-align: justify;
  font-size: larger;
}
body.inicio main section div p img {
  padding-left: 2vw;
  width: 400px;
}
body.inicio main section div div {
  padding: 3vw;
}
body.inicio main section div div div img {
  width: 70vw;
}
body.inicio footer {
  background-color: #5f5f5f;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0vh 0vw;
}
body.inicio footer p {
  font-size: 15px;
  margin: 20px 6vw;
}
body.inicio footer .agradecimientos p {
  font-size: 20px;
}
body.inicio footer .agradecimientos img {
  padding: 3vh 0vw;
  width: 250px;
}

body.autores header {
  height: 25vh;
  background-color: #22319f;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}
body.autores header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 6vw;
}
body.autores header div h1 {
  font-size: 40px;
  font-weight: 700;
}
body.autores header div h2 {
  font-size: 20px;
  font-weight: 400;
}
body.autores header nav {
  background-color: #22319f;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
body.autores header nav ul {
  display: flex;
  flex-direction: row;
  margin-right: 10vh;
  align-items: flex-end;
}
body.autores header nav ul li {
  list-style: none;
  margin: 0px 12px;
  font-size: 18px;
  font-weight: 300;
  height: 18px;
  transition: all 0.5s;
}
body.autores header nav ul li:hover {
  transform: translateY(-3px);
  transition: all 0.5s;
  cursor: pointer;
}
body.autores header nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
}
body.autores header nav ul li a:visited {
  text-decoration: none;
  color: #FFFFFF;
}
body.autores main section {
  margin: 14vh 6vw;
}
body.autores main section div.titulos-sec1 {
  display: flex;
  justify-content: flex-start;
}
body.autores main section h3 {
  color: #22319f;
  font-weight: 800;
  font-size: 24px;
  margin: 0vh 0vw 6vw 0vw;
}
body.autores main section div.titulos-sec2 {
  display: flex;
  justify-content: flex-end;
}
body.autores main section h3 {
  color: #22319f;
  font-weight: 800;
  font-size: 24px;
  margin: 0vh 0vw 6vw 0vw;
}
body.autores .botones {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
body.autores .botones p {
  padding: 5px 30px;
  border-radius: 50px;
  border: #22319f 2px solid;
  color: #22319f;
  font-weight: 600;
  cursor: pointer;
  transition: all 200ms ease-in;
}
body.autores .botones p:hover {
  color: #FFFFFF;
  background-color: #22319f;
  transition: all 300ms ease-in;
}
body.autores .botones span {
  padding: 5px 30px;
  border-radius: 50px;
  color: #22319f;
  font-weight: 200;
  font-size: 45px;
}
body.autores .biodamian, body.autores .bioconnie, body.autores .prologo1, body.autores .prologo2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6vh 2vw;
}
body.autores .biodamian p, body.autores .bioconnie p, body.autores .prologo1 p, body.autores .prologo2 p {
  width: 60vw;
}
body.autores .biodamian img, body.autores .bioconnie img, body.autores .prologo1 img, body.autores .prologo2 img {
  width: 18vw;
  border-radius: 8px;
  box-shadow: 6px 7px 10px 0px rgba(0, 0, 0, 0.25);
}
body.autores #day {
  display: none;
}
body.autores #day #noche {
  display: block;
}
body.autores #day:target {
  display: block;
}
body.autores #day:target #noche {
  display: none;
}
body.autores #noche {
  display: none;
}
body.autores #noche #day {
  display: block;
}
body.autores #noche:target {
  display: block;
}
body.autores #noche:target #day {
  display: none;
}
body.autores footer {
  background-color: #5f5f5f;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0vh 0vw;
}
body.autores footer p {
  font-size: 15px;
  margin: 20px 6vw;
}
body.autores footer .agradecimientos p {
  font-size: 20px;
}
body.autores footer .agradecimientos img {
  padding: 3vh 0vw;
  width: 250px;
}

body.galeria header {
  height: 25vh;
  background-color: #22319f;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}
body.galeria header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 6vw;
}
body.galeria header div h1 {
  font-size: 40px;
  font-weight: 700;
}
body.galeria header div h2 {
  font-size: 20px;
  font-weight: 400;
}
body.galeria header nav {
  background-color: #22319f;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
body.galeria header nav ul {
  display: flex;
  flex-direction: row;
  margin-right: 10vh;
  align-items: flex-end;
}
body.galeria header nav ul li {
  list-style: none;
  margin: 0px 12px;
  font-size: 18px;
  font-weight: 300;
  height: 18px;
  transition: all 0.5s;
}
body.galeria header nav ul li:hover {
  transform: translateY(-3px);
  transition: all 0.5s;
  cursor: pointer;
}
body.galeria header nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
}
body.galeria header nav ul li a:visited {
  text-decoration: none;
  color: #FFFFFF;
}
body.galeria header nav ul li {
  height: 6px;
}
body.galeria main section {
  margin: 14vh 6vw;
}
body.galeria main section h3 {
  color: #22319f;
  font-weight: 800;
  font-size: 24px;
  margin: 0vh 0vw 6vw 0vw;
}
body.galeria main section .text {
  margin-right: 3vw;
}
body.galeria main section > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10vh;
  height: 70vh;
}
body.galeria main section div.carousel.slide {
  width: 55vw;
}
body.galeria main section img {
  height: 70vh;
  border-radius: 10px;
}
body.galeria footer {
  background-color: #5f5f5f;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0vh 0vw;
}
body.galeria footer p {
  font-size: 15px;
  margin: 20px 6vw;
}
body.galeria footer .agradecimientos p {
  font-size: 20px;
}
body.galeria footer .agradecimientos img {
  padding: 3vh 0vw;
  width: 250px;
}

body.opiniones header {
  height: 25vh;
  background-color: #22319f;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}
body.opiniones header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 6vw;
}
body.opiniones header div h1 {
  font-size: 40px;
  font-weight: 700;
}
body.opiniones header div h2 {
  font-size: 20px;
  font-weight: 400;
}
body.opiniones header nav {
  background-color: #22319f;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
body.opiniones header nav ul {
  display: flex;
  flex-direction: row;
  margin-right: 10vh;
  align-items: flex-end;
}
body.opiniones header nav ul li {
  list-style: none;
  margin: 0px 12px;
  font-size: 18px;
  font-weight: 300;
  height: 18px;
  transition: all 0.5s;
}
body.opiniones header nav ul li:hover {
  transform: translateY(-3px);
  transition: all 0.5s;
  cursor: pointer;
}
body.opiniones header nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
}
body.opiniones header nav ul li a:visited {
  text-decoration: none;
  color: #FFFFFF;
}
body.opiniones main section {
  margin: 5vh 6vw;
}
body.opiniones main section h3 {
  color: #22319f;
  font-weight: 800;
  font-size: 24px;
  margin: 14vh 0vw 6vw 0vw;
}
body.opiniones main section article {
  display: flex;
  flex-direction: column;
}
body.opiniones main section article div.card {
  display: flex;
  align-items: center;
  margin: 3vh 0vw;
}
body.opiniones main section article div.card img {
  width: 300px;
}
body.opiniones main section article div.card .gradient {
  position: relative;
}
body.opiniones main section article div.card .gradient::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 300px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
  opacity: 0.3;
}
body.opiniones main section article div.card div.texto {
  margin: 2vh 5vw;
}
body.opiniones main section article div.card div.texto h4 {
  margin: 2vh 0vw;
  font-size: 25px;
}
body.opiniones footer {
  background-color: #5f5f5f;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0vh 0vw;
}
body.opiniones footer p {
  font-size: 15px;
  margin: 20px 6vw;
}
body.opiniones footer .agradecimientos p {
  font-size: 20px;
}
body.opiniones footer .agradecimientos img {
  padding: 3vh 0vw;
  width: 250px;
}

body.contacto header {
  height: 25vh;
  background-color: #22319f;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}
body.contacto header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 6vw;
}
body.contacto header div h1 {
  font-size: 40px;
  font-weight: 700;
}
body.contacto header div h2 {
  font-size: 20px;
  font-weight: 400;
}
body.contacto header nav {
  background-color: #22319f;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
body.contacto header nav ul {
  display: flex;
  flex-direction: row;
  margin-right: 10vh;
  align-items: flex-end;
}
body.contacto header nav ul li {
  list-style: none;
  margin: 0px 12px;
  font-size: 18px;
  font-weight: 300;
  height: 18px;
  transition: all 0.5s;
}
body.contacto header nav ul li:hover {
  transform: translateY(-3px);
  transition: all 0.5s;
  cursor: pointer;
}
body.contacto header nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
}
body.contacto header nav ul li a:visited {
  text-decoration: none;
  color: #FFFFFF;
}
body.contacto main .container {
  border: solid 1px rgb(0, 0, 0);
  border-radius: 20px;
}
body.contacto main div {
  display: flex;
  justify-content: center;
  margin: 15vh 15vw;
  -moz-column-gap: 10vw;
       column-gap: 10vw;
}
body.contacto main div .Col1, body.contacto main div .Col2 {
  display: flex;
  flex-direction: column;
  margin: 6vw 0vh;
}
body.contacto main div .Col1 h4, body.contacto main div .Col1 p, body.contacto main div .Col2 h4, body.contacto main div .Col2 p {
  margin: 4px 0px;
}
body.contacto footer {
  background-color: #5f5f5f;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0vh 0vw;
}
body.contacto footer p {
  font-size: 15px;
  margin: 20px 6vw;
}
body.contacto footer .agradecimientos p {
  font-size: 20px;
}
body.contacto footer .agradecimientos img {
  padding: 3vh 0vw;
  width: 250px;
}

body.comprar header {
  height: 25vh;
  background-color: #22319f;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}
body.comprar header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 6vw;
}
body.comprar header div h1 {
  font-size: 40px;
  font-weight: 700;
}
body.comprar header div h2 {
  font-size: 20px;
  font-weight: 400;
}
body.comprar header nav {
  background-color: #22319f;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
body.comprar header nav ul {
  display: flex;
  flex-direction: row;
  margin-right: 10vh;
  align-items: flex-end;
}
body.comprar header nav ul li {
  list-style: none;
  margin: 0px 12px;
  font-size: 18px;
  font-weight: 300;
  height: 18px;
  transition: all 0.5s;
}
body.comprar header nav ul li:hover {
  transform: translateY(-3px);
  transition: all 0.5s;
  cursor: pointer;
}
body.comprar header nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
}
body.comprar header nav ul li a:visited {
  text-decoration: none;
  color: #FFFFFF;
}
body.comprar footer {
  background-color: #5f5f5f;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0vh 0vw;
}
body.comprar footer p {
  font-size: 15px;
  margin: 20px 6vw;
}
body.comprar footer .agradecimientos p {
  font-size: 20px;
}
body.comprar footer .agradecimientos img {
  padding: 3vh 0vw;
  width: 250px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border: red 0.2px solid; */
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: #eeeeee;
}/*# sourceMappingURL=style.css.map */