@mixin header {
    height: 25vh;
    background-color: $color1;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 6vw;

        h1 {
            font-size: 40px;
            font-weight: 700;
        }

        h2 {
            font-size: 20px;
            font-weight: 400;
        }
    }

    nav {
        background-color: $color1;
        color: #FFFFFF;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        ul {
            display: flex;
            flex-direction: row;
            margin-right: 10vh;
            align-items: flex-end;

            li {
                list-style: none;
                margin: 0px 12px;
                font-size: 18px;
                font-weight: 300;
                height: 18px;
                transition: all 0.5s;

                &:hover {
                    transform: translateY(-3px);
                    transition: all 0.5s;
                    cursor: pointer;
                }

                a {
                    text-decoration: none;
                    color: #FFFFFF;

                    &:visited {
                        text-decoration: none;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}

@mixin footer {
    background-color: $color3;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0vh 0vw;

    p {
        font-size: 15px;
        margin: 20px 6vw;
    }
    .agradecimientos{
        p{
            font-size: 20px;
        }
        img{
            padding: 3vh 0vw;
            width: 250px;
        }
    }
}

@mixin bioyprologo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6vh 3vw;
    p {
        width: 60vw;
    }

    img {
        width: 250px;
        border-radius: 8px;
        box-shadow: 6px 7px 10px 0px rgb(0 0 0 / 25%);
    }
    
}