@mixin header {
    height: 25vh;
    background-image: url(../img/assets/textura.png);
    background-size: cover;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 6vw;

        h1 {
            font-size: 40px;
            font-weight: 700;
        }

        h2 {
            font-size: 20px;
            font-weight: 400;
        }
    }

    nav {
        // background-color: $color1;
        color: #FFFFFF;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        ul {
            display: flex;
            flex-direction: row;
            margin-right: 10vh;
            align-items: flex-end;

            li {
                list-style: none;
                margin: 0px 12px;
                font-size: 25px;
                font-weight: 300;
                height: 24px;
                transition: all 0.5s;

                &:hover {
                    transform: translateY(-3px);
                    transition: all 0.5s;
                    cursor: pointer;
                }

                a {
                    text-decoration: none;
                    color: #FFFFFF;

                    &:visited {
                        text-decoration: none;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}

@mixin header425{
    height: 0%;
    flex-direction: column;
    div{
        margin-left: 0vw;
        align-items: center;
        margin-top: 25px;
        h1 {
            font-size: 35px;
            font-weight: 700;
        }

        h2 {
            font-size: 20px;
            font-weight: 400;
        }
    }
    nav{
        margin: 20px 0px 10px 20px;
        justify-content: flex-start;
        ul{
            flex-direction: column;
            align-items: flex-start;
            line-height: normal;
            margin: 0%;
            li{
                text-align:left;
                margin: 6px 0px;
                font-size: 25px;
                height: 20px;
                a{
                    font-size: 20px;
                }
            }
        }
    }
}

@mixin footer {
    background-color: $color3;
    height: 25vh;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    padding: 0vh 0vw;
    .copyredes{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        p {
            font-size: 12px;
            margin:0px 6vw;
        }
        .redes{
            display: flex;
            justify-content: space-between;
            margin: 0px 120px;
            a{
                color: #FFFFFF;
                font-size: 25px;
                text-decoration: none;
                transition: all 200ms ease-out;
                &:hover {
                    font-size: 30px;
                    transition: all 200ms ease-in;
                }
            }
        }
    }


    .agradecimientos {
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
            // padding: 3vh 0vw;
            width: 250px;
        }
        p {
            font-size: 20px;
        }
    }
}

@mixin footer425{
        height: auto;
        flex-direction: column-reverse;
        .copyredes{

            flex-direction: column;
            // align-content: center;
            .copyright{
                margin: 20px 0px;
                display:flex;
                justify-content: center;
            }
            .redes{
                justify-content: space-evenly;
                margin: 25px 0px 10px 0px;
            }
        }
        .agradecimientos{
            flex-direction: column;
            margin-top: 10px;
            a{
            margin: 10px;
            img{
                width: 200px;
            }
            }
        }
    }

@mixin bios {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6vh 3vw;

    p {
        width: 60vw;
        text-align: justify;
        transition: all 200ms ease-in;
    }

    img {
        width: 250px;
        height: 250px;
        border-radius: 8px;
        box-shadow: 6px 7px 10px 0px rgb(0 0 0 / 25%);
        transition: all 200ms ease-in;
    }
}

@mixin prologos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6vh 3vw;

    div {
        p {
            width: 60vw;
            text-align: justify;
        }
    }

    img {
        width: 250px;
        height: 250px;
        border-radius: 8px;
        box-shadow: 6px 7px 10px 0px rgb(0 0 0 / 25%);
    }
}

@mixin btnComprar {
    position: fixed;
    right: 50px;
    bottom: 50px;

    a {
        img {
            width: 130px;
            transition: all 300ms ease-in;
        }
    }

    &:hover {
        img {
            border-radius: 50px;
            box-shadow: 0px 0px 10px rgb(103, 102, 102);
            transition: all 300ms ease-in;
        }
    }
}

@mixin botonVerMas {
    padding: 5px 30px;
    border-radius: 50px;
    border: $color1 2px solid;
    color: $color1;
    font-weight: 600;
    cursor: pointer;
    transition: all 200ms ease-in;

    &:hover {
        color: #FFFFFF;
        background-color: $color1;
        transition: all 300ms ease-in;
    }
}

@mixin botonNombres {
    padding: 8px 30px;
    border-radius: 50px;
    border: $color1 2px solid;
    background-color: $color2;
    color: $color1;
    font-weight: 600;
    cursor: pointer;
    transition: all 200ms ease-in;

    &:hover {
        color: #FFFFFF;
        background-color: $color1;
        transition: all 300ms ease-in;
    }
}

@mixin showText {
    display: block;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3.05s;
}

@mixin hideText {
    display: none;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3.05s;
}

@mixin btnUp{
    position:fixed;
    bottom: 35px;
    right: 35px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #FFFFFF;
    background-color: $color1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(103, 102, 102);
    .icon-up-open{
        font-size: 18px;
        height: 50%;
    }
}