body.autores {

    header {
        @include header;
    }

    main section {
        margin: 14vh 6vw;

        div.titulos-sec1 {
            display: flex;
            justify-content: flex-start;
        }

        h3 {
            color: $color1;
            font-weight: 800;
            font-size: 24px;
            margin: 0vh 0vw 6vw 0vw;
        }

        div.titulos-sec2 {
            display: flex;
            justify-content: flex-end;
        }

    }

    .readMore_btn, .readMore_btn2 {
        @include botonVerMas;
        margin-top: 2vh;
    }

    .botones {
        .boton{
            @include botonNombres
        }
        span {
            padding: 5px 30px;
            border-radius: 50px;
            color: $color1;
            font-weight: 200;
            font-size: 45px;
        }

        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .pOrville, .pDionisio {
        @include prologos
    }

    .bioDamian, .bioConnie{
        @include bios;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    

    .hideDamian, .hideConnie, .hideDionisio, .hideOrville, .hideText, .hideText2{
        @include hideText
    }
    .showDamian, .showConnie, .showDionisio, .showOrville, .showText, .showText2{
        @include showText
    }

    .btncomprar{
        @include btnComprar;
    }
    footer {
        @include footer;
    }
}
