body.inicio {

    header {
        @include header;
    }

    main {
        section {
            .up{
                @include btnUp
            }
            h3 {
                color: $color1;
                font-weight: 800;
                font-size: 30px;
                margin: 0vh 0vw 6vw 0vw;
            }

            margin: 14vh 6vw;

            div {
                display: flex;
                font-weight: 300;
                font-size: 16px;

                p.Col2{
                    margin-left: 3vw;
                }
                p {
                    text-align: justify;
                    font-size: larger;

                    img {
                        padding-left: 0vw;
                        width: 400px;
                    }
                }

                div {
                    padding: 3vw;

                    div {
                        img {
                            width: 70vw;
                        }
                    }
                }
            }
            div.video {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 10vh 0px;
                iframe{
                    border-radius: 7px;
                    box-shadow: 3px 3px 10px rgb(114, 113, 113);
                    width:720px; 
                    height: 405px;
                }
            }
        }
        .comprar{
            @include sectionComprar;
            a{
                button{
                    @include botonNombres;
                border: 2px $color2 solid;
                text-decoration: none;
                }
            }
        }
        // .btncomprar {
        //     @include btnComprar
        // }
    }

    footer {
        @include footer;
    }
}