body.galeria {

    header {
        @include header;

        nav ul li {
            height: 10px;
        }
    }

    main {
        .up{
            @include btnUp;
            .icon-up-open{
                font-size: 18px;
                height: 60%;
            }
        }
        section {
            
            margin: 14vh 6vw;

            h3 {
                color: $color1;
                font-weight: 800;
                font-size: 30px;
                margin: 0vh 0vw 6vw 0vw;
            }

            .text {
                margin-right: 5vw;
                h4{
                    font-size: 22px;
                }
                p{
                    font-size: 16px;
                }
            }

            >div {
                display: flex;
                justify-content: space-between;
                margin-bottom: 100px;

                p.bootstrap {
                    color:azure;
                    text-shadow: 2px 2px 2px rgb(59, 59, 59);
                }
            }

            div.carousel.slide {
                box-shadow: 0px 0px 10px rgb(103, 102, 102);
                width: 50vw;
                border-radius: 10px;
                .carousel-control-prev-icon, .carousel-control-next-icon{
                    box-shadow: 1px 1px 2px rgb(59, 59, 59);
                    background-color: rgb(59, 59, 59);
                    border-radius: 10px;
                }
            }
            .carousel-inner{
                border-radius: 10px;
            }

            img {
                // height: 450px;
                border-radius: 10px;
                background-size:auto;
                
            }

        }

        .btncomprar {
            @include btnComprar
        }
    }

    footer {
        @include footer;
    }
}
// $carousel-control-color: white;
// $carousel-control-width: 85%;
// @import "../node_modules/bootstrap/scss/bootstrap";


