body.autores{

header{
    @include header;
}

main section {
    margin: 14vh 6vw;

    div.titulos-sec1{
            display: flex;
            justify-content: flex-start;
        }
        h3 {
            color: $color1;
            font-weight: 800;
            font-size: 24px;
            margin: 0vh 0vw 6vw 0vw;
        }
    div.titulos-sec2{
            display: flex;
            justify-content: flex-end;
        }
        h3 {
            color: $color1;
            font-weight: 800;
            font-size: 24px;
            margin: 0vh 0vw 6vw 0vw;
        }
    }
    .botones {
        p {
            padding: 5px 30px;
            border-radius: 50px;
            border: $color1 2px solid;
            color: $color1;
            font-weight: 600;
            cursor: pointer;
            transition: all 200ms ease-in;

            &:hover {
                color: #FFFFFF;
                background-color: $color1;
                transition: all 300ms ease-in;
            }
        }

        span {
            padding: 5px 30px;
            border-radius: 50px;
            color: $color1;
            font-weight: 200;
            font-size: 45px;
        }

        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .biodamian, .bioconnie {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 6vh 2vw;
        p {
            width: 60vw;
        }
    
        img {
            width: 18vw;
            border-radius: 8px;
            box-shadow: 6px 7px 10px 0px rgb(0 0 0 / 25%);
        }
    }
    #day {
        display: none;
        #noche{
            display: block;
        }
    }
    #day:target {
        display: block;
        #noche{
            display: none
        }
    }
    #noche {
        display: none;
        #day{
            display: block;
        }
    }
    #noche:target {
        display: block;
        #day{
            display: none
        }
    }


    footer {
        @include footer;
    }
}