body.galeria{
    // body.galeria header 
    header{
        @include header;
        nav ul li{
            height: 6px;
        }
    }

    main{
        section{
            margin: 14vh 6vw;
            h3 {
                color: $color1;
                font-weight: 800;
                font-size: 24px;
                margin: 0vh 0vw 6vw 0vw;
            }
            .text{
                margin-right: 3vw;
            }
            >div{
                display: flex;
                justify-content: space-between;
                margin-bottom: 10vh;
                height: 70vh;
            }
            div.carousel.slide{
                width: 55vw;
            }
            // img{
            //     height: 550px;
            // }
        }
    }
    footer{
        @include footer;
    }
}