body.galeria{
    // body.galeria header 
    header{
        @include header;
        nav ul li{
            height: 6px;
        }
    }

    main{
        section{
            margin: 14vh 6vw;
            h3 {
                color: $color1;
                font-weight: 800;
                font-size: 24px;
                margin: 0vh 0vw 6vw 0vw;
            }
            .text{
                margin-right: 3vw;
            }
            >div{
                display: flex;
                justify-content: space-between;
                margin-bottom: 10vh;
                height: 70vh;
                
                    p.bootstrap{
                        text-shadow: 1px 1px 2px rgb(59, 59, 59);
                    }
            }
            div.carousel.slide{
                width: 55vw;
            }
            img{
                height: 70vh;
                border-radius: 10px
                
            }
        }
        .btncomprar{
            @include btnComprar
        }
    }
    footer{
        @include footer;
    }
}