@import '_variables.scss';
@import '_mixings.scss';
@import '_pag-inicio.scss';
@import '_pag-autores.scss';
@import '_pag-galeria.scss';
@import '_pag-contacto.scss';
@import '_pag-opiniones.scss';


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: red 0.2px solid; */
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: $color2;
}
