* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    /* border: red 0.2px solid; */
}

body {
    font-family: "Be Vietnam Pro", sans-serif;
}

header {
    height: 25vh;
    background-color: #1e32be;
    color: #ffffff;
    display: flex;
    justify-content: space-between;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 6vw;

        h1 {
            font-size: 40px;
            font-weight: 700;
        }

        h2 {
            font-size: 20px;
            font-weight: 400;
        }
    }

    nav {
        background-color: #1e32be;
        color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        ul {
            display: flex;
            flex-direction: row;
            margin-right: 15vh;
            align-items: flex-end;

            li {
                list-style: none;
                margin: 0px 20px;
                font-size: 20px;
                font-weight: 300;
                height: 20px;
                transition: all 0.5s;

                &:hover {
                    transform: translateY(-3px);
                    transition: all 0.5s;
                    cursor: pointer;
                }

                a {
                    text-decoration: none;
                    color: #ffffff;

                    &:visited {
                        text-decoration: none;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

main section {
    .titulos {
        display: flex;
        justify-content: space-between;
    }

    h3 {
        color: #1e32be;
        font-weight: 800;
        font-size: 24px;
        margin: 0vh 0vw 6vw 0vw;
    }

    margin: 14vh 6vw;

    div {
        display: flex;
        font-weight: 300;
        font-size: 16px;

        p {
            text-align: justify;
        }

        div {
            padding: 3vw;
        }
    }
}

footer {
    background-color: #808080;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    p {
        font-size: 12px;
        margin: 20px 6vw;
    }
}